.pioche,
.player {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 1rem;
}
.pioche h3,
.player h3 {
    margin-top: 0;
}

.pioche {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.player.player-1 {
    width: fit-content;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.player.player-2 {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.player.player-3 {
    width: fit-content;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.player.player-4 {
    width: fit-content;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.cards,
.pioche-cards {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.card,
.pioche-card {
    padding: 1rem;
    border: 1px solid #333;
}
